<footer>

    <nav class="f_navigation">
        <ul>
            <li>@CreativityUnthreaded</li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/contact">CONTACT</a></li>
            <li><a href="/home"> <img class="footer_img" src="/images/fb.png" alt="fb"></a></li>
            <li><a href="/home"><img class="footer_img" src="/images/twitter.png" alt="twitter"></a></li>
           
            
        </ul>

    </nav>
</footer>

</body>


</html>