<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Creativity Unthreaded</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>
    <header class="banner">
        <a href="/main/home">
            <img src="/images/logo.png" alt="logo">
        </a>
        <nav class="p_navigation">

            <ul>
                <li><a href='/events/new'>Create New Event</a></li>
                <li><a href="/main/home">Login</a></li>
                <li><a href="main/home">Signup</a></li>

            </ul>

        </nav>

    </header>

    <div class="events">
        <nav>
            <ul>
                <li><a href="/events">Events</a></li>
            </ul>
        </nav>

    </div>

