<%- include('./partials/header.ejs')%>
    <main>

        <br>

        <h2>About Us </h2>
        <p>Creativity Unthreaded is a platform for art and craft. This platform gives you the chance to showcase your ideas, work on your art skills,<br> learn new art forms, organise an event and volunteer at exclusive decoration events. 
            Every event is unique in itself and to make it unique, we <br>need people with creative minds. This is the platform for creative souls.</p>
       

        
        
    </main>
<%- include('./partials/footer.ejs')%>