<%- include('./partials/header.ejs')%>
    <main>
        <br>

        <h2>Contact Us </h2>
        <p>How can we help you? <br> Send us an email with your queries and our team will answer to your queries in 3-5
            business days</p>
       

        <h4>Contact Details</h4>
        <p>Email Id: customercareofcu@gmail.com <br>
        Helpline no: (+1) 331-444-8888</p>

        

    </main>
    <%- include('./partials/footer.ejs')%>