<%- include('./partials/header.ejs')%>
    <main>
        <p>
            Welcome to our Wonderland- Creativity Unthreaded! Where everyone comes to unwind the world of Creativity.
        </p>
        <p>
            This platform gives you the chance to showcase your ideas, work on your art skills and volunteer at
            exclusive decoration events.

        </p>
        <p>
            We host art workshops where you can learn various art forms.
            One may also volunteer for different party events where decorations are undertaken.
        </p>
    </main>
 <%- include('./partials/footer.ejs')%>


   